.container {
}

.post-card {
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
}

.user-data {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    position: relative;
}

.avatar {
    position: relative;
    left: 10px;
    top: 10px;

    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.placeholder {
    max-width: 200px;
    position: relative;
    left: 40px;
    top: 20px;

    list-style: none;
    line-height: 2.0em;
}

.placeholder li {
    font-size: large;
}

#go-to-chat {
    max-width: 200px;
    position: relative;
    left: 280px;
    top: 20px;
}

.divider {
    padding: 25px;
}