img {
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 100px;
}

.main-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.all-data {
    padding: 20px;
}

ul {
    list-style: none;
    line-height: 2.0em;
}

.personals-change {
    display: flex;
    flex-direction: column;
    align-items: center;
}