<div class="line" [ngClass]="{'from-sender':isOwn}">
    <div class="container" [ngClass]="{'isOwnMessageContainer':isOwn}">
        <div class="label" [ngClass]="{'isOwnMessageData':isOwn}">
            <span class="sender" [ngClass]="{'isOwnSender':isOwn}">
            </span>
            <span class="time-stamp" [ngClass]="{'isOwnTimestamp':isOwn}">
                {{ timeStamp | date:'medium' }}
            </span>
        </div>
        <div class="content" [ngClass]="{'isOwnMessageContent':isOwn}">
            {{ content }}
        </div>
    </div>
</div>