<div class="mt-5 flex-grow flex flex-col">
    <nav class="flex-1 px-2 bg-white space-y-1 user-menu-nav" aria-label="Sidebar">
      <div class="bg-red-900 font-black text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
        <span class="flex-1 text-white">
          Menu użytkownika
        </span>
      </div>

      <a routerLink="/account" class="bg-red-700 text-gray-600 hover:bg-red-900 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
        <span class="flex-1 text-white">
          Dane osobowe
        </span>
      </a>

      <a routerLink="/personals-change" class="bg-red-700 text-gray-600 hover:bg-red-900 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
        <span class="flex-1 text-white">
          Zmiana danych osobowych
        </span>
      </a>

      <a routerLink="/post-list" class="bg-red-700 text-gray-600 hover:bg-red-900 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
        <span class="flex-1 text-white">
          Historia postów
        </span>
      </a>

      <a href="#" class="bg-red-700 text-gray-600 hover:bg-red-900 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
        <span class="flex-1 text-white">
          Powiadomienia
        </span>
      </a>

      <a routerLink="/chat" class="bg-red-700 text-gray-600 hover:bg-red-900 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
        <span class="flex-1 text-white">
          Czat
        </span>
      </a>
    </nav>
  </div>