.container {
    background : white;
    padding    : 3.5em;
    width      : 600px;
    position   : fixed;
    left       : 45%;
    margin-left: -250px;
}

.personals-change-button {
    padding: 10px;
}