.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-group {
    min-width: 1000px;
}

.source-image{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-progress {
    padding: 15px;
}